<html>

<head>
    <title>PaceTime Calculator</title>
    <link rel="stylesheet" type="text/css" href="pacetime.css" />
    <link rel="stylesheet" type="text/css" href="table.css" />
    <script src="angular.js"></script>

    <script>
        var app = angular.module('PaceTimeCalculator', []);
        app.controller('myCtrl', function ($scope) {
            $scope.TPH = 8000; $scope.USERS = 120; $scope.TT = 5;
            $scope.NTT = 5; $scope.TOTALT = 6; $scope.RT = 1; $scope.TPI = 9;
            $scope.Math = window.Math;

        });
    </script>


    <script type="text/javascript">

    </script>
</head>

<body ng-app="PaceTimeCalculator" ng-controller="myCtrl">


   <div id="top-bar"> 
        <h2>DevOps Performance Engineering </h2>
 </div>

    <div id="container">
        <h2>Pace Time Calculator</h2>
        <form name="myForm">
            <div class="group">
                <input type="number" required ng-model="TPH">
                <span class="bar"></span>
                <label>Transactions Per Hour (TPH) </label>
            </div>
            <div class="group">
                <input type="number" required ng-model="USERS">
                <span class="bar"></span>
                <label>Concurrent Users (Number Of Users)</label>
            </div>
            <div class="group">
                <input type="number" required ng-model="TT">
                <span class="bar"></span>
                <label>Think Time ( in Seconds )</label>
            </div>
            <div class="group">
                <input type="number" required ng-model="NTT">
                <span class="bar"></span>
                <label>Number of Think Time</label>
            </div>
            <div class="group">
                <input type="number" required ng-model="TOTALT" ng-change="RT=TOTALT">
                <span class="bar"></span>
                <label>Total Transactions</label>
            </div>
            <div class="group">
                <input type="number" required ng-model="RT">
                <span class="bar"></span>
                <label>Required Transactions</label>
            </div>
            <div class="group">
                <input type="text" required ng-model="TPI">
                <span class="bar"></span>
                <label>Time Per Iteration(in Sec)</label>
            </div>
        </form>
    </div>

    <div id="outputcontainer">
        <div class="outputmain">
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">Parameters</th>
                        <th class="text-left">Description</th>
                        <th class="text-left">Value</th>
                    </tr>
                </thead>
                <tbody class="table-hover">
                    <tr>
                        <td class="text-left">Per User TPH Goal</td>
                        <td class="text-left">Total Transaction / Users</td>
                        <td class="text-left">{{Math.round(TPH/USERS)}}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Iteration Time With TT</td>
                        <td class="text-left">Time To Complete One Iteration</td>
                        <td class="text-left">{{(TPI * 1) + (TT * NTT) }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Per User TPH Achievable</td>
                        <td class="text-left">Acheivable TPH By any User</td>
                        <td class="text-left">{{Math.round(3600/((TPI * 1) + (TT * NTT)))}}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Iterations Per User</td>
                        <td class="text-left">Iteration Per User Required</td>
                        <td class="text-left">{{ Math.round((TPH/USERS)/RT) }}</td>
                    </tr>
                    <tr>
                        <td class="text-left">Available Time Per Iteration</td>
                        <td class="text-left">Remaing Time After Iteration</td>
                        <td class="text-left">{{Math.round(3600/((TPH/USERS)/RT))}}</td>
                    </tr>
                    <tr>
                        <th class="text-left" colspan="2">Pacing Time (in Seconds)</th>

                        <th class="text-left">{{Math.floor(3600/Math.floor(Math.floor(TPH/USERS)/RT)) - ((TPI * 1) + (TT * NTT)) }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>